<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="true" scanPeriod="3 seconds">
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="LOG_HOME" value="/data/dsp/logs" />

    <!--设置日志输出为控制台-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %m%n</pattern>
        </encoder>
    </appender>

    <!--根据业务类型输出日志-->
    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>sift</Key>
            <DefaultValue>dsp-server</DefaultValue>
        </discriminator>
        <sift>
            <appender name="SIFT" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <!--解决日志滚动问题-->
                <!--<File>${LOG_HOME}/${sift}/${sift}.log</File>-->
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!--<FileNamePattern>${LOG_HOME}/${sift}/${sift}.%d{yyyyMMddHH}.log.gz</FileNamePattern>-->
                    <FileNamePattern>${LOG_HOME}/${sift}/${sift}.%d{yyyyMMdd}.log</FileNamePattern>
                    <!--日志文件保留天数-->
                    <!--<MaxHistory>30</MaxHistory>-->
                </rollingPolicy>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %m%n</Pattern>
                </layout>
            </appender>
        </sift>
    </appender>



    <appender name="PHOENIX" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>phoenix</Key>
            <DefaultValue>phoenix</DefaultValue>
        </discriminator>
        <sift>
            <appender name="PHOENIX" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <!--解决日志滚动问题-->
                <!--<File>${LOG_HOME}/${phoenix}/${phoenix}.log</File>-->
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!--<FileNamePattern>${LOG_HOME}/${phoenix}/${phoenix}.%d{yyyyMMddHH}.log.gz</FileNamePattern>-->
                    <FileNamePattern>${LOG_HOME}/${phoenix}/${phoenix}.%d{yyyyMMdd}.log</FileNamePattern>
                    <!--<MaxHistory>30</MaxHistory>-->
                </rollingPolicy>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <Pattern>%m%n</Pattern>
                </layout>
            </appender>
        </sift>
    </appender>






    <logger name="org.quartz" level="ERROR" />
    <logger name="io.lettuce" level="ERROR" />

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="SIFT"/>
        <appender-ref ref="PHOENIX"/>
    </root>


</configuration>
